ul {
  list-style: none;
  padding: 0.5em;
}

.sidebar {
  position: absolute;
  top: 0;
  width: 10em;
  left: 0;
  padding-left: .5em
}

.wiki-logo {
  display: block;
  width: 10em;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center center;
  text-decoration: none;
}
